<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title><ui:insert name="title"></ui:insert></title>
</h:head> 
<h:body> 
 	
 	<ui:insert name="navigation">
 		<ui:include src="./navigation.xhtml" />
 	</ui:insert>
 	
 	<ui:insert name="content"></ui:insert>
 	<ui:insert name="footer">
 		<ui:include src="./footer.xhtml" />
 	</ui:insert>
 	
 	
</h:body> 
</html>
