<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<ui:composition template="../WEB-INF/template/layout.xhtml">
<ui:define name="content">
<h1>register form</h1>
<h:form>
<label>nom</label><h:inputText value="#{registerBean.name}" id="nom" />
<label>prenom</label><h:inputText value="#{registerBean.prenom}" id="prenom" />
<label>UserName</label> <h:inputText value="#{registerBean.userName}" id="username" />
<label>Password</label> <h:inputText value="#{registerBean.password}" id="password" />
<h:commandButton action="#{registerBean.Register}" value="Register" />
</h:form>




</ui:define>
</ui:composition>

</body> 
</html>
