<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
  
    <h:head>
        <title>Info page</title>
    </h:head>
    <h:body>
        <ui:composition template="WEB-INF/template/layout.xhtml">
    	<ui:define name="content">
    		
        <h:form>
            <h3>Welcome</h3>
            <br/>
            <h:outputText value="This is an info page. Everyone has access to it!"/>
            <br/>
            <h:commandLink action="#{navigationBean.redirectToWelcome}" value="Secured Welcome page"/>
        </h:form>
      </ui:define>
    </ui:composition>
    </h:body>
</html>