<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:p="http://primefaces.org/ui">
  
    <h:head>
        <title>Login form</title>
    </h:head>
    <h:body>
    <ui:composition template="WEB-INF/template/layout.xhtml">
    	<ui:define name="content">
    		<p:panel header="Login Form">
    		        <h:panelGrid columns="2" columnClasses="label, value">
      				<h:form id="login-form">
           				<h:outputText value="username:"/>
           				<p:inputText value="#{loginBean.username}" id="username"/>
           				<br/>
          				<h:outputText value="password:"/>
           				<p:password value="#{loginBean.password}" id="password"/>
           				<br/>
         			  	<h:commandButton id="button" value="Login" action="#{loginBean.doLogin}"/>
           				<br/>
           				<h:commandLink action="#{navigationBean.redirectToInfo}" value="Info page"/>
           				<br/>
           				<h:messages />
           				<br/>
        			</h:form>
        			</h:panelGrid>
    		</p:panel>
    	</ui:define>
    
    </ui:composition>

    </h:body>
</html>