<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>
<ui:composition template="../WEB-INF/template/layout.xhtml">
	<ui:define name="title">add company</ui:define>
	<ui:define name="content">
	
		<h:form>
		<p:panelGrid id="panel" columns="2" cellpadding="10"
			cellspacing="1">

			<f:facet name="header">
				<h:outputText value="Add Company" />
			</f:facet>
			
			<h:outputLabel value="Company name" />
			<h:inputText value="#{addCompanyBean.nameCompany}" />
			<h:outputLabel value="Adress" />
			<h:inputText value="#{addCompanyBean.adressCompany}" />

			<f:facet name="footer">
				<h:panelGroup style="display:block; text-align:center">
					<h:commandButton id="submit" value="Add" action="#{addCompanyBean.addCompany}"/>
				</h:panelGroup>
			</f:facet>
		</p:panelGrid>
	</h:form>
	
	
	</ui:define>
</ui:composition>
	


</h:body>
</html>
