<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui">

<h:head></h:head> 
<body> 
   <ui:composition template="../WEB-INF/template/layout.xhtml">
    	<ui:define name="content">
		<div><p:button style="float:right" outcome="/secured/addcompany.xhtml?faces-redirect=true" icon="ui-icon-plus" title="Icon Only"/></div>
    	<p:dataTable id="companyTab" var="company" value="#{companyBean.companys}">
    <p:column headerText="Id">
        <h:outputText value="#{company.id}" />
    </p:column>
 
    <p:column headerText="Company Name">
        <h:outputText value="#{company.companyName}" />
    </p:column>
 
    <p:column headerText="Adress">
        <h:outputText value="#{company.address}" />
    </p:column>
 
    <p:column headerText="Action">
      <p:commandButton icon="ui-icon-close" title="remove from cart"
                       actionListener="#{companyBean.remove(company)}" update="companyTab" />
                   
	<p:button outcome="#{navigationBean.redirectToContact()}" icon="ui-icon-search" title="Icon Only">
    <f:param name="id" value="#{company.id}" />
	</p:button>
    </p:column>
</p:dataTable>

    	</ui:define>





</ui:composition>

</body> 
</html>
