<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
         xmlns:p="http://primefaces.org/ui"
         xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head></h:head> 
<body> 
  <ui:composition template="../WEB-INF/template/layout.xhtml">
    	<ui:define name="content">
    	<h:form>
    	<h:outputText value="nom:"/>
    		<p:inputText value="#{UpdateContactBean.nom}" placeholder="#{UpdateContactBean.contact.nom}" id="nom"/>
    		<h:outputText value="prenom:"/>
    		<p:inputText value="#{UpdateContactBean.prenom}" placeholder="#{UpdateContactBean.contact.prenom}" id="prenom"/>
    		<h:outputText value="email:"/>
    		<p:inputText value="#{UpdateContactBean.email}" placeholder="#{UpdateContactBean.contact.email}" id="email"/>
    		<h:outputText value="jobtitle:"/>
    		<p:inputText value="#{UpdateContactBean.jobTitle}" placeholder="#{UpdateContactBean.contact.jobTitle}" id="job_title"/>
    		<h:commandButton id="button" value="update" action="#{UpdateContactBean.Update}"/>
    	</h:form>
    
    	
    	
    	
    	
    	
    	
    	
    	</ui:define></ui:composition>
</body> 
</html>
