<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head></h:head> 
<body> 
 <ui:composition template="../WEB-INF/template/layout.xhtml">
    	<ui:define name="content">
    	<h:form>
    	<h:outputText value="nom:"/>
    		<p:inputText value="#{AddContactBean.nom}" id="nom"/>
    		<h:outputText value="prenom:"/>
    		<p:inputText value="#{AddContactBean.prenom}" id="prenom"/>
    		<h:outputText value="email:"/>
    		<p:inputText value="#{AddContactBean.email}" id="email"/>
    		<h:outputText value="jobtitle:"/>
    		<p:inputText value="#{AddContactBean.jobTitle}" id="job_title"/>
    		<h:commandButton id="button" value="Add" action="#{AddContactBean.add}"/>
    	</h:form>
    
    	
    	
    	
    	
    	
    	
    	
    	</ui:define></ui:composition>
</body> 
</html>
