<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:p="http://primefaces.org/ui">

<h:head></h:head> 
<body> 

 <ui:composition template="../WEB-INF/template/layout.xhtml">
    	<ui:define name="content">
    	 <f:metadata>
        <f:viewParam name="company" value="" />
    </f:metadata>
    	
     <p:growl id="msgs" showDetail="true" />
    	 <ui:repeat id="items" value="#{contactBean.contacts}" var="item">
   


 <h:form>
   <p:dataTable id="contactTab" var="contact" value="#{contactBean.contacts}">
    <p:column headerText="Id">
        <h:outputText value="#{contact.id}" />
    </p:column>
 
    <p:column headerText="Contact Name">
        <h:outputText value="#{contact.email}" />
    </p:column>
 
    <p:column headerText="Adress">
        <h:outputText value="#{contact.jobTitle}" />
    </p:column>
 
    <p:column headerText="Action">
      <p:commandButton icon="ui-icon-close" title="remove from cart"
                       actionListener="#{contactBean.remove(contact)}" update="contactTab" />
                   
	<p:button outcome="#{navigationBean.redirectToContactAdd()}" icon="ui-icon-add" title="Icon Only">
	<f:param name="id" value="#{contactBean.c.id}" />
	</p:button>
	<p:button outcome="#{navigationBean.redirectToContactUpdate()}" icon="ui-icon-add" title="Icon Only">
    <f:param name="contact" value="#{contact.id}" />
    <f:param name="id" value="#{contactBean.c.id}" />
	</p:button>
    </p:column>
</p:dataTable>
   
    </h:form>
 </ui:repeat>
    	
	
    	</ui:define>



</ui:composition>

</body> 
</html>
